<hgroup>
    <h1>Список используемых источников</h1>

    <ul class="dotenum">
        <li>The Rust Programming Language [Электронный ресурс]. – Режим доступа: https://doc.rust-lang.org/book/ (дата
            обращения: 20.05.2025)
            {{!--
        <li>Why Rust? / Mozilla Research [Электронный ресурс]. – Режим доступа: https://research.mozilla.org/rust/ (дата
            обращения: 20.05.2025)</li> --}}
        {{!-- <li>Smith J. Rust for Embedded Systems // IEEE Access. – 2022. – Vol. 10. – P. 12345-12360. – DOI:
            10.1109/ACCESS.2022.3146052</li> --}}
        <li>Postcard: A Serialization Format [Электронный ресурс]. – Режим доступа:
            https://github.com/jamesmunns/postcard (дата обращения: 20.05.2025)</li>
        <li>Concise Binary Object Representation (CBOR) : RFC 8949 / IETF. – 2020. – 66 p. – Режим доступа:
            https://www.rfc-editor.org/rfc/rfc8949 (дата обращения: 20.05.2025)</li>
        <li>Protocol Buffers Developer Guide [Электронный ресурс]. – Режим доступа:
            https://developers.google.com/protocol-buffers (дата обращения: 20.05.2025)</li>
        <li>Appropriate Uses For SQLite [Электронный ресурс] / SQLite Official Documentation. – Режим доступа:
            https://www.sqlite.org/whentouse.html (дата обращения: 20.05.2025)</li>
        {{!-- <li>Anderson R. SQLite: Past, Present, and Future // Communications of the ACM. – 2021. – Vol. 64, no. 5.
            – P.
            86–93. – DOI: 10.1145/3448016.3457551</li> --}}
        <li>RocksDB Wiki [Электронный ресурс]. – Режим доступа: https://github.com/facebook/rocksdb/wiki (дата
            обращения: 20.05.2025)</li>
        <li>The Noise Protocol Framework [Электронный ресурс]. – Режим доступа: http://noiseprotocol.org/noise.pdf (дата
            обращения: 20.05.2025)</li>
        <li>Recommendation for Pair-Wise Key-Establishment Schemes Using Discrete Logarithm Cryptography : NIST SP
            800-56A Rev. 3 / NIST. – 2018. – 140 p. – Режим доступа:
            https://csrc.nist.gov/publications/detail/sp/800-56a/rev-3/final (дата обращения: 20.05.2025)</li>
        <li>Elliptic Curves for Security : RFC 7748 / IETF. – 2016. – 22 p. – Режим доступа:
            https://www.rfc-editor.org/rfc/rfc7748 (дата обращения: 20.05.2025)</li>
        <li>Snow: A Rust Implementation of the Noise Protocol Framework [Электронный ресурс]. – Режим доступа:
            https://docs.rs/snow/latest/snow/ (дата обращения: 20.05.2025)</li>
        <li>Unix(7) – Linux manual page [Электронный ресурс]. – Режим доступа:
            https://man7.org/linux/man-pages/man7/unix.7.html (дата обращения: 20.05.2025)</li>
        <li>IEEE Standard for Information Technology – Portable Operating System Interface (POSIX®) : IEEE Std
            1003.1-2017. – IEEE, 2018. – 3956 p</li>
        {{!-- <li>Unix Domain Sockets in z/OS / IBM. – Poughkeepsie, NY : IBM Redbooks, 2020. – 180 p. – ISBN
            978-0738442884. --}}
        </li>
        <li>The Embedded Rust Book [Электронный ресурс]. – Режим доступа: https://docs.rust-embedded.org/book/ (дата
            обращения: 20.05.2025)</li>
        <li>Serverless Database Applications with SQLite [Электронный ресурс]. – Режим доступа:
            https://www.sqlite.org/serverless.html (дата обращения: 20.05.2025)</li>
        {{!-- <li>Williams D. Secure IPC in Microkernels // Proc. IEEE Symp. Security and Privacy. – 2023. – P. 45–60. –
            DOI:
            10.1109/SP.2023.00005</li> --}}
        <li>Blandy J., Orendorff J. Programming Rust: Fast, Safe Systems Development. – 2nd ed. – Sebastopol, CA :
            O'Reilly Media, 2021. – 736 p. – ISBN 978-1492052593</li>
        <li class="last">The Transport Layer Security (TLS) Protocol Version 1.3 : RFC 8446 / IETF. – 2018. – 160 p. –
            Режим доступа:
            https://www.rfc-editor.org/rfc/rfc8446 (дата обращения: 20.05.2025)</li>
    </ul>
</hgroup>