<hgroup>
    <h1>ЗАКЛЮЧЕНИЕ</h1>
    <p>
        В результате выполнения выпускной квалификационной работы была разработана подсистема администрирования и
        инструменты развертывания для системы контроля и управления доступом для группы лифтов. Разработанное решение
        обеспечивает автоматизированное управление жизненным циклом программных компонентов данной системы.
    </p>
    <p>
        Были реализованы ключевые модули системы: управляющий модуль (менеджер), агент устройства, утилита командной
        строки, инструмент для сборки установочного пакета.
    </p>
    <p>
        Практическая значимость работы заключается в снижении эксплуатационных затрат за счет автоматизации процессов
        развертывания и администрирования. Разработанное решение адаптировано для работы в изолированных сетях и на
        маломощных устройствах, что делает его
        применимым в критически важных инфраструктурах, таких как лифтовые системы. Результаты работы могут быть
        использованы для дальнейшего развития СКУД.
    </p>
</hgroup>