<hgroup>
    <h2 id="chapter_economics">Оценка трудозатрат на разработку</h2>
    <p>
        Разработка программных систем неизбежно сопровождается необходимостью предварительной оценки трудозатрат и
        сроков выполнения работ. Грамотно проведенная оценка позволяет обеспечить реалистичное планирование, эффективное
        распределение ресурсов и соблюдение договорных обязательств. В противном случае проект может столкнуться с
        существенными рисками: перерасходом бюджета, нарушением графика, падением качества и, как следствие, снижением
        доверия со стороны заказчика. На практике ошибки в оценке масштабов и сложности проекта нередко становятся
        причиной переработок, кризисов в команде и провала конечного результата. При этом завышенные оценки также
        нежелательны, так как они могут снизить привлекательность проекта с экономической точки зрения. В данной главе
        рассматриваются методы оценки трудоемкости и временных затрат на реализацию разрабатываемой информационной
        системы с позиции их практического применения и обоснования эффективности проекта.
    </p>
    <hgroup>
        <h3 id="chapter_scrore_duration">Оценка длительности разработки на основе методики COCOMO II</h3>
        <p>
            Для получения оценки трудоемкости и время разработки программного продукта используется методика COCOMO II
            (COnstructive COst MOdel). Методика представляет собой усовершенствованную версию COCOMO, разработанную Бари
            Боэмом в 1981. Модель базируется на регрессии с параметрами, определяемыми на основе отраслевых данных и
            характеристик конкретного проекта.
            Формулы для оценки трудоемкости проекта в человеко-месяцах имеют вид (<a class="link"
                href="#pm_formula"></a> - <a class="link" href="#e_formula"></a>):
        </p>
        <p class="formula" id="pm_formula">
            \(\text{PM} = A \cdot \text{SIZE}^E \cdot \prod_{i=1}^{n} \text{EM}_i\)
        </p>
        <p class="formula" id="e_formula">
            \(\text{E} = B + 0.01 \cdot \sum_{j=1}^5 \text{SF}_j\)
        </p>
        <p>Где:</p>
        <ul class="dotenum">
            <li>\(\text{A}\) — калибровочный коэффициент, для COCOMO II равный 2.94</li>
            <li>\(\text{SIZE}\) — размер программного продукта в тысячах строк кода</li>
            <li>\(\text{E}\) — показатель степени, учитывающий фактор масштаба</li>
            <li>\(\text{EM}_i\) — множители трудоемкости</li>
            <li>\(\text{B}\) — базовый коэффициент, равный 0.91</li>
            <li>\(\text{SF}_j\) — факторы масштаба</li>
            <li>\(\text{n} = 7\) — для предварительной оценки</li>
            <li class="last">\(\text{n} = 17\) — для детальной оценки</li>
        </ul>
        <p>
            Оценка размера программного продукта SIZE производится с помощью метода функциональных точек.
        </p>
    </hgroup>
    <hgroup>
        <h3 id="chapter_fdots">Метод функциональных точек</h3>
        <p>
            Метод функциональных точек представляет собой широко распространенный метод для измерения размера
            программного обеспечения с точки зрения его функциональности для пользователя.
        </p>

        <p>Процесс анализа представлен следующими шагами:</p>
        <ul class="parenenum">
            <li>Определение типа оценки</li>
            <li>Определение области оценки и границ продукта</li>
            <li>Подсчёт функциональных точек, связанных с данными</li>
            <li>Подсчёт функциональных точек, связанных с транзакциями</li>
            <li>Определение суммарного количества невыверенных функциональных точек</li>
            <li>Определение значения фактора выравнивания</li>
            <li class="last">Расчёт количества выровненных функциональных точек</li>
        </ul>
        <hgroup>
            <h4>Определение типа оценки</h4>
            <p>На первом шаге необходимо определить тип выполняемой оценки. Метод функциональных точек предусматривает
                три типа оценки:</p>
            <ul class="dashenum">
                <li>Проект разработки — оценка объема функций первого релиза продукта</li>
                <li>Проект развития — оценка доработки: добавление, изменение, удаление функционала</li>
                <li class="last">Продукт — оценка объема уже существующего и установленного продукта</li>
            </ul>
            <p>В данной работе выполняется оценка проекта разработки, так как разрабатываемая информационная система
                создается с нуля.</p>
        </hgroup>
        <hgroup>
            <h4>Определение области оценки и границ продукта</h4>
            <p>На втором шаге необходимо определить область оценки и границы продукта. К логическим данным относятся:
            </p>
            <p>Внутренние логические файлы ILF:</p>
            <ul class="dashenum">
                <li>база данных менеджера</li>
                <li>база данных агента</li>
                <li>конфигурационный файл менеджера</li>
                <li class="last">конфигурационный файл агента</li>
            </ul>
            <p>Внешние интерфейсные файлы EIF:</p>
            <ul class="dashenum">
                <li>Манифест файл установочного пакета</li>
                <li class="last">Файл конфигурации топологии кластера</li>
            </ul>
        </hgroup>
        <hgroup>
            <h4>Подсчет функциональных точек, связанных с данными</h4>
            <p>На третьем шаге необходимо подсчитать функциональные точки, связанные с данными. Подсчет основан на
                определении:</p>
            <ul class="dashenum">
                <li class="ignore-case">DETs (data element types) — неповторимые уникальные поля данных</li>
                <li class="last ignore-case">RETs (record element types) — логические подгруппы данных внутри ILF или
                    EIF</li>
            </ul>

            <p>Для базы данных менеджера (ILF):</p>
            <ul class="dashenum">
                <li class="ignore-case">RETs ≈ 7 (Агенты, Сервисы, Отчеты, Сценарии, Шаги сценариев, Статистика)</li>
                <li class="last ignore-case">DETs ≈ 28</li>
            </ul>

            <p>Для базы данных агента (ILF):</p>
            <ul class="dashenum">
                <li class="ignore-case">RETs ≈ 3 (Сервисы, Метрики, События)</li>
                <li class="last ignore-case">DETs ≈ 16</li>
            </ul>

            <p>Для файла конфигурации менеджера (ILF):</p>
            <ul class="dashenum">
                <li class="ignore-case">RETs ≈ 1 (один раздел)</li>
                <li class="last ignore-case">DETs ≈ 5 (интервал создания отчетов, лимит хранимых отчетов, приватный
                    ключ)</li>
            </ul>

            <p>Для файла конфигурации агента (ILF):</p>
            <ul class="dashenum">
                <li class="ignore-case">RETs ≈ 1 (один раздел)</li>
                <li class="last ignore-case">DETs ≈ 7 (приватный ключ, публичный ключ менеджера, лимит хранимых метрик,
                    лимит
                    хранимых
                    событий, временной интервал проверки контроллеров, порт, временной интервал сбора метрик)</li>
            </ul>

            <p>Для манифест файла (EIF):</p>
            <ul class="dashenum">
                <li class="ignore-case">RETs ≈ 3</li>
                <li class="last ignore-case">DETs ≈ 11</li>
            </ul>

            <p>Для конфигурационного файла топологии (EIF):</p>
            <ul class="dashenum">
                <li class="ignore-case">RETs ≈ 3</li>
                <li class="last ignore-case">DETs ≈ 20</li>
            </ul>

            <p>Оценка количества не выровненных функциональных точек зависит от сложности данных, которая определяется
                на
                основании матрицы сложности в <a class="link" href="#data_difficult_matrix">таблице</a>.</p>
            <table id="data_difficult_matrix">
                <caption><span>Матрица сложности данных</span></caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>1–19 DET</th>
                        <th>20–50 DET</th>
                        <th>50+ DET</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 RET</td>
                        <td>Low</td>
                        <td>Low</td>
                        <td>Average</td>
                    </tr>
                    <tr>
                        <td>2–5 RET</td>
                        <td>Low</td>
                        <td>Average</td>
                        <td>High</td>
                    </tr>
                    <tr>
                        <td>6+ RET</td>
                        <td>Average</td>
                        <td>High</td>
                        <td>High</td>
                    </tr>
                </tbody>
            </table>
            <p>Исходя из таблицы, получаем значение следующие оценки:</p>
            <ul class="dashenum">
                <li>Для базы данных менеджера (ILF) — High</li>
                <li>Для базы данных агента (ILF) — Low</li>
                <li>Для файла конфигурации менеджера (ILF) — Low</li>
                <li>Для файла конфигурации агента (ILF) — Low</li>
                <li>Для манифест файла (EIF) — Low</li>
                <li class="last">Для конфигурационного файла топологии (EIF) — Average</li>
            </ul>

            <p>Оценка данных в невыровненных функциональных точках (UFP) подсчитывается по-разному для внутренних
                логических
                файлов (ILFs) и для внешних интерфейсных файлов (EIFs) в зависимости от их сложности в <a class="link"
                    href="#cont_fpoints_data_grade">таблице</a>.</p>

            <p></p>
            <table id="cont_fpoints_data_grade">
                <caption><span>Оценка данных в невыровненных функциональных точках (UFP) для внутренних логических
                        файлов
                        (ILFs)
                        и внешних интерфейсных файлов (EIFs)</span></caption>

                <thead>
                    <tr>
                        <th>Сложность данных</th>
                        <th>Количество UFP (ILF)</th>
                        <th>Количество UFP (EIF)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Low</td>
                        <td>7</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Average</td>
                        <td>10</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>High</td>
                        <td>15</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>

            <p>Оценки UFP:</p>
            <ul class="dashenum">
                <li>Для базы данных менеджера (ILF) = 15</li>
                <li>Для базы данных агента (ILF) = 7</li>
                <li>Для файла конфигурации менеджера (ILF) = 7</li>
                <li>Для файла конфигурации агента (ILF) = 7</li>
                <li>Для манифест файла (EIF) = 5</li>
                <li class="last">Для конфигурационного файла топологии (EIF) = 7</li>
            </ul>

            <p>Итогово, UFP для данных = 15 + 7 + 7 + 7 + 5 + 7 = 48</p>
        </hgroup>
        <hgroup>
            <h4>Подсчет функциональных точек, связанных с транзакциями</h4>
            <p>Четвертым шагом анализа по методу функциональных точек является подсчет функциональных точек, связанных с
                транзакциями</p>

            <p>Транзакции представляют собой элементарные неделимые замкнутые процессы, представляющие значение для
                пользователя и переводящие продукт из одного консистентного состояния в другое</p>

            <p>Различаются следующие типы транзакций:</p>
            <ul class="dashenum">
                <li class="ignore-case">EI (external inputs) — внешние входные транзакции, элементарная операция по
                    обработке данных или
                    управляющей информации, поступающих в систему извне</li>
                <li class="ignore-case">EO (external outputs) — внешние выходные транзакции, элементарная операция по
                    генерации данных или
                    управляющей информации, которые выходят за пределы системы. Предполагает определенную логику
                    обработки или вычислений информации из одного или более ILF</li>
                <li class="last ignore-case">EQ (external inquiries) — внешние запросы, элементарная операция, которая в
                    ответ на
                    внешний запрос извлекает данные или управляющую информацию из ILF или EIF</li>
            </ul>

            <p>Оценка сложности транзакции основывается на следующих ее характеристиках:</p>
            <ul class="dashenum">
                <li class="ignore-case">FTR (file type referenced) — позволяет подсчитать количество различных файлов
                    (информационных
                    объектов) типа ILF и/или EIF модифицируемых или считываемых в транзакции</li>
                <li class="last ignore-case">DET (data element type) — уникальное поле данных</li>
            </ul>

            <p>Для оценки сложности транзакций служат матрицы, которые представлены в таблицах <a class="link"
                    href="#int_t_matrix"></a> и <a class="link" href="#ext_t_q_matrix"></a></p>

            <table id="int_t_matrix">
                <caption><span>Матрица сложности внешних входных транзакций (EI)</span></caption>
                <thead>
                    <tr>
                        <th>EI</th>
                        <th>1–4 DET</th>
                        <th>5–15 DET</th>
                        <th>16+ DET</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0–1 FTR</td>
                        <td>Low</td>
                        <td>Low</td>
                        <td>Average</td>
                    </tr>
                    <tr>
                        <td>2 FTR</td>
                        <td>Low</td>
                        <td>Average</td>
                        <td>High</td>
                    </tr>
                    <tr>
                        <td>3+ FTR</td>
                        <td>Average</td>
                        <td>High</td>
                        <td>High</td>
                    </tr>
                </tbody>
            </table>

            <table id="ext_t_q_matrix">
                <caption><span>Матрица сложности внешних выходных транзакций и внешних запросов (EO & EQ)</span>
                </caption>
                <thead>
                    <tr>
                        <th>EO & EQ</th>
                        <th>1–5 DET</th>
                        <th>6–19 DET</th>
                        <th>20+ DET</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0–1 FTR</td>
                        <td>Low</td>
                        <td>Low</td>
                        <td>Average</td>
                    </tr>
                    <tr>
                        <td>2–3 FTR</td>
                        <td>Low</td>
                        <td>Average</td>
                        <td>High</td>
                    </tr>
                    <tr>
                        <td>4+ FTR</td>
                        <td>Average</td>
                        <td>High</td>
                        <td>High</td>
                    </tr>
                </tbody>
            </table>

            <p>Определены следующие внешние входные транзакции:</p>
            <ul class="dashenum">
                <li>Установка агента</li>
                <li>Установка менеджера</li>
                <li>Конфигурирование агента</li>
                <li>Конфигурирование менеджера</li>
                <li>Регистрация агентов в менеджере</li>
                <li>Синхронизация топологии кластера</li>
                <li>Запуск кластера</li>
                <li class="last">Остановка кластера</li>
            </ul>

            <p>Определены следующие внешние выходные транзакции:</p>
            <ul class="dashenum">
                <li>Формирование отчета</li>
                <li class="last">Формирование событийного отчета</li>
            </ul>

            <p>Определены следующие внешние запросы:</p>
            <ul class="dashenum">
                <li>Просмотр состояния сервисов агента</li>
                <li>Просмотр отчетов менеджера</li>
                <li>Запрос метрик агента</li>
                <li class="last">Запрос событий агента</li>
            </ul>

            <p>Оценка EI: 8 транзакций. FTR ≈ 6, DET ≈ 28. Сложность High</p>
            <p>Оценка EO: 2 транзакции. FTR ≈ 2, DET ≈ 23. Сложность High</p>
            <p>Оценка EQ: 4 транзакции. FTR ≈ 2, DET ≈ 27. Сложность High</p>

            <p>Оценка транзакций в невыровненных функциональных точках (UFP) может быть получена из матрицы,
                представленной в <a class="table-ref" href="#fpoints_transactions_difficult">таблице</a></p>

            <table id="fpoints_transactions_difficult">
                <caption><span>Сложность транзакций в невыровненных функциональных точках (UFP)</span></caption>
                <thead>
                    <tr>
                        <th>Сложность транзакций</th>
                        <th>Количество UFP (EI)</th>
                        <th>Количество UFP (EO)</th>
                        <th>Количество UFP (EQ)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Low</td>
                        <td>3</td>
                        <td>4</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Average</td>
                        <td>4</td>
                        <td>5</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>High</td>
                        <td>6</td>
                        <td>7</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>

            <p>Исходя из данных в таблице ?:</p>
            <ul class="dashenum">
                <li class="ignore-case">UFP (EI) = 8 транзакций * 6 UFP/Транзакцию = 48</li>
                <li class="ignore-case">UFP (EO) = 2 транзакции * 7 UFP/Транзакцию = 14</li>
                <li class="last ignore-case">UFP (EQ) = 4 транзакции * 7 UFP/Транзакцию = 32</li>
            </ul>

            <p>Итогово UFP для транзакций = 48 + 14 + 32 = 94</p>
        </hgroup>
        <hgroup>
            <h4>Определение суммарного количества невыровненных функциональных точек (UFP)</h4>
            <p>
                Общий объем продукта в UFP рассчитывается как сумма UFP для данных и транзакций по <a class="link"
                    href="#ufp">формуле</a>:
            </p>
            <p id="ufp" class="formula">
                \(\text{UFP} = \text{UFP}(данные) + \text{UFP}(транзакции) = 48 + 94 = 142\)
            </p>
        </hgroup>
        <hgroup>
            <h4>Определение значения фактора выравнивания (VAF)</h4>
            <p>Значение фактора выравнивания (Value Adjustment Factor, VAF) зависит от 14 общих системных характеристик
                (General System Characteristics, GSCs), оцениваемых по шкале от 0 (не влияет) до 5 (влияет сильно):</p>
            <ul class="parenenum">
                <li>Обмен данными: 2</li>
                <li>Распределенная обработка данных: 2</li>
                <li>Производительность: 1</li>
                <li>Ограничения по аппаратным ресурсам: 3</li>
                <li>Транзакционная нагрузка: 1</li>
                <li>Интенсивность взаимодействия с пользователем: 1</li>
                <li>Эргономика: 2</li>
                <li>Интенсивность изменения данных (ILF) пользователями: 1</li>
                <li>Сложность обработки: 2</li>
                <li>Повторное использование: 3</li>
                <li>Удобство инсталляции: 3</li>
                <li>Удобство администрирования: 2</li>
                <li>Портируемость: 1</li>
                <li class="last">Гибкость: 0</li>
            </ul>
            <p>Расчет суммарного эффекта 14 системных характеристик (total degree of influence, TDI) осуществляется
                простым суммированием (<a class="link" href="#tdi">формула</a>)</p>
            <p class="formula" id="tdi">
                \(\text{TDI} = \sum\text{DI} = 27\)
            </p>
            <p>
                Расчет значения фактора выравнивания производится по <a class="link" href="#vaf">формуле</a>:
            </p>
            <p class="formula" id="vaf">
                \(\text{VAF} = \text{TDI} \cdot 0.01 + 0.65 = (27 \cdot 0.01) + 0.65 = 0.92\)
            </p>
        </hgroup>
    </hgroup>
    <hgroup>
        <h3 id="chapter_calc_fpoints">Расчет количества выровненных функциональных точек (AFP)</h3>
        <p>Количество выровненных функциональных точек (Adjusted Function Points, AFP) рассчитывается по формуле:</p>
        <p class="formula" id="afp">
            \(\text{AFP} = \text{UFP} \cdot \text{VAF} = 142 \cdot 0.92 = 130.64 \approx 131\)
        </p>
        <hgroup>
            <h4>Расчет SIZE</h4>
            <p>
                Для перехода от AFP к размеру в тысячах строк кода (KLOC) необходимо использовать коэффициент пересчета,
                зависящий от языка программирования. Для Rust с системным и асинхронным программированием можно принять
                среднее значение около 25 LOC/FP.
            </p>
            <p class="formula">
                \(\frac{(\frac{\text{AFP} \cdot \text{LOC}}{\text{FP}})}{1000} = (131 \cdot 25) / 1000 = 3.275 \approx
                3.3\)
            </p>
        </hgroup>
        <hgroup>
            <h4>Факторы масштаба</h4>
            <p>Оценим пять факторов масштаба (SF) для расчета показателя степени E. Анализ в таблицах <a class="link"
                    href="#scale_factor_desc"></a> и <a class="link" href="#scale_factor"></a>.
            </p>
            <table id="scale_factor_desc">
                <caption><span>Описание факторов масштаба</span></caption>
                <thead>
                    <tr>
                        <th>Фактор</th>
                        <th>Описание</th>
                        <th>Оценка</th>
                        <th>Обоснование</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PREC (Precedentedness)</td>
                        <td>Прецедентность, наличие опыта аналогичных разработок</td>
                        <td>Very High (1.24)</td>
                        <td>продукт и платформа в основном известны</td>
                    </tr>
                    <tr>
                        <td>FLEX (Development Flexibility)</td>
                        <td>Гибкость процесса разработки</td>
                        <td>Nominal (3.04)</td>
                        <td>Значительная жесткость процесса</td>
                    </tr>
                    <tr>
                        <td>RESL (Architecture / Risk Resolution)</td>
                        <td>Уровень проработки архитектуры и управления рисками</td>
                        <td>Extra High (0.00)</td>
                        <td>Основные риски проанализированы на 100% на этапе проектирования</td>
                    </tr>
                    <tr>
                        <td>TEAM (Team Cohesion)</td>
                        <td>Согласованность команды</td>
                        <td>Extra High (0.00)</td>
                        <td>Предполагается индивидуальная работа</td>
                    </tr>
                    <tr>
                        <td>PMAT (Process Maturity)</td>
                        <td>Зрелость процессов разработки</td>
                        <td>Very High (1.56)</td>
                        <td>Зрелые для студенческого проекта</td>
                    </tr>
                </tbody>
            </table>

            <table id="scale_factor">
                <caption><span>Значение фактора масштаба, в зависимости от оценки его уровня</span></caption>
                <thead>
                    <tr>
                        <th>Фактор масштаба</th>
                        <th>Very Low</th>
                        <th>Low</th>
                        <th>Nominal</th>
                        <th>High</th>
                        <th>Very High</th>
                        <th>Extra High</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PREC</td>
                        <td>6.20</td>
                        <td>4.96</td>
                        <td>3.72</td>
                        <td>2.48</td>
                        <td>1.24</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>FLEX</td>
                        <td>5.07</td>
                        <td>4.05</td>
                        <td>3.04</td>
                        <td>2.03</td>
                        <td>1.01</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>RESL</td>
                        <td>7.07</td>
                        <td>5.65</td>
                        <td>4.24</td>
                        <td>2.83</td>
                        <td>1.41</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>TEAM</td>
                        <td>5.48</td>
                        <td>4.38</td>
                        <td>3.29</td>
                        <td>2.19</td>
                        <td>1.10</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>PMAT</td>
                        <td>7.80</td>
                        <td>6.24</td>
                        <td>4.68</td>
                        <td>3.12</td>
                        <td>1.56</td>
                        <td>0.00</td>
                    </tr>
                </tbody>
            </table>
            <p>Сумма факторов масштаба:</p>
            <p class="formula">
                \( \sum_{j=1}^5 \text{SF}_j = 1.24 + 3.04 + 0.00 + 0.00 + 1.56 = 5.84\)
            </p>
            <p>Рассчитаем показатель степени E:</p>
            <p class="formula">
                \( \text{E}_j = \text{B} + 0.01 \cdot \sum_{j=1}^5 \text{SF}_j = 0.91 + 0.01 \cdot 5.84 = 0.96\)
            </p>
        </hgroup>
        <hgroup>
            <h4>Определение множителей трудоемкости</h4>
            <p>Для детальной оценки используются 17 множителей трудоемкости (EM), отражающих характеристики проекта,
                продукта, персонала и платформы в <a class="link" href="#cost_factors_desc">таблице</a>. </p>

            <table id="cost_factors_desc" style="font-size: 10pt">
                <caption><span>Описание факторов затрат (Cost Drivers)</span></caption>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Множ.</th>
                        <th>Описание</th>
                        <th>Very Low</th>
                        <th>Low</th>
                        <th>Nominal</th>
                        <th>High</th>
                        <th>Very High</th>
                        <th>Extra High</th>
                        <th>Оценка</th>
                        <th>Знач.</th>
                        <th>Обоснование</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ACAP</td>
                        <td>Возможности аналитика</td>
                        <td>1.42</td>
                        <td>1.19</td>
                        <td>1.00</td>
                        <td>0.85</td>
                        <td>0.71</td>
                        <td>–</td>
                        <td>High</td>
                        <td>0.85</td>
                        <td>Компетентный разработчик</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>AEXP</td>
                        <td>Сложность и надежность продукта</td>
                        <td>1.22</td>
                        <td>1.10</td>
                        <td>1.00</td>
                        <td>0.88</td>
                        <td>0.81</td>
                        <td>–</td>
                        <td>High</td>
                        <td>0.88</td>
                        <td>Системное программирование</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>PCAP</td>
                        <td>Возможности программиста</td>
                        <td>1.34</td>
                        <td>1.15</td>
                        <td>1.00</td>
                        <td>0.88</td>
                        <td>0.76</td>
                        <td>–</td>
                        <td>High</td>
                        <td>0.88</td>
                        <td>Компетентный программист</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>PCON</td>
                        <td>Стабильность персонала</td>
                        <td>1.29</td>
                        <td>1.12</td>
                        <td>1.00</td>
                        <td>0.90</td>
                        <td>0.81</td>
                        <td>–</td>
                        <td>Nominal</td>
                        <td>1.00</td>
                        <td>Студенческий групповой проект</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>PEXP</td>
                        <td>Опыт работы с платформой</td>
                        <td>1.19</td>
                        <td>1.09</td>
                        <td>1.00</td>
                        <td>0.91</td>
                        <td>0.85</td>
                        <td>–</td>
                        <td>Nominal</td>
                        <td>1.00</td>
                        <td>Платформа достаточно знакома</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>LTEX</td>
                        <td>Опыт с языками и инструментами</td>
                        <td>1.20</td>
                        <td>1.09</td>
                        <td>1.00</td>
                        <td>0.91</td>
                        <td>0.84</td>
                        <td>–</td>
                        <td>High</td>
                        <td>0.91</td>
                        <td>Большой опыт использования Rust</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>RELY</td>
                        <td>Требуемая надежность ПО</td>
                        <td>0.84</td>
                        <td>0.92</td>
                        <td>1.00</td>
                        <td>1.10</td>
                        <td>1.26</td>
                        <td>–</td>
                        <td>High</td>
                        <td>1.10</td>
                        <td>Работа системы должна быть стабильной</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>DATA</td>
                        <td>Размер БД</td>
                        <td>–</td>
                        <td>0.90</td>
                        <td>1.00</td>
                        <td>1.14</td>
                        <td>1.28</td>
                        <td>–</td>
                        <td>Low</td>
                        <td>0.90</td>
                        <td>Небольшой объем данных</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>CPLX</td>
                        <td>Сложность продукта</td>
                        <td>0.73</td>
                        <td>0.87</td>
                        <td>1.00</td>
                        <td>1.17</td>
                        <td>1.34</td>
                        <td>1.74</td>
                        <td>High</td>
                        <td>1.17</td>
                        <td>Сложное взаимодействие компонентов системы</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>RUSE</td>
                        <td>Требование повторного использования</td>
                        <td>–</td>
                        <td>0.95</td>
                        <td>1.00</td>
                        <td>1.07</td>
                        <td>1.15</td>
                        <td>1.24</td>
                        <td>Nominal</td>
                        <td>1.00</td>
                        <td>Повторное использование возможно, но не предусматривается</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>DOCU</td>
                        <td>Требуемый уровень документации</td>
                        <td>0.81</td>
                        <td>0.91</td>
                        <td>1.00</td>
                        <td>1.11</td>
                        <td>1.23</td>
                        <td>–</td>
                        <td>High</td>
                        <td>1.11</td>
                        <td>Требуется документация</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>TIME</td>
                        <td>Ограничения по времени выполнения</td>
                        <td>–</td>
                        <td>–</td>
                        <td>1.00</td>
                        <td>1.11</td>
                        <td>1.29</td>
                        <td>1.63</td>
                        <td>Nominal</td>
                        <td>1.00</td>
                        <td>Стандартные требования</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>STOR</td>
                        <td>Ограничения по памяти</td>
                        <td>–</td>
                        <td>–</td>
                        <td>1.00</td>
                        <td>1.05</td>
                        <td>1.17</td>
                        <td>1.46</td>
                        <td>High</td>
                        <td>1.05</td>
                        <td>Потребление памяти должно быть небольшим</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>PVOL</td>
                        <td>Частота изменения платформы</td>
                        <td>–</td>
                        <td>0.87</td>
                        <td>1.00</td>
                        <td>1.15</td>
                        <td>1.30</td>
                        <td>–</td>
                        <td>Low</td>
                        <td>0.87</td>
                        <td>Платформа стабильна</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>TOOL</td>
                        <td>Использование CASE/IDE/CI инструментов</td>
                        <td>1.17</td>
                        <td>1.09</td>
                        <td>1.00</td>
                        <td>0.90</td>
                        <td>0.78</td>
                        <td>–</td>
                        <td>High</td>
                        <td>0.90</td>
                        <td>Используются современные инструменты (IDE, Git)</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>SITE</td>
                        <td>Распределённость разработки</td>
                        <td>1.22</td>
                        <td>1.09</td>
                        <td>1.00</td>
                        <td>0.93</td>
                        <td>0.86</td>
                        <td>0.80</td>
                        <td>Extra High</td>
                        <td>0.80</td>
                        <td>Работа ведётся в одном месте</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>SCED</td>
                        <td>Строгость графика</td>
                        <td>1.43</td>
                        <td>1.14</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>1.00</td>
                        <td>–</td>
                        <td>Nominal</td>
                        <td>1.00</td>
                        <td>Стандартный график без сжатия сроков</td>
                    </tr>
                </tbody>
            </table>

            <p>
                Произведение множителей трудоемкости:
            </p>
            <p class="formula">
                \(
                \prod_{} \text{EM}_i = 0.85 \cdot 0.88 \cdot 0.88 \cdot 1.00 \cdot 1.00 \cdot 0.91 \cdot 1.10 \cdot
                \)
                <br>
                \(
                \cdot 0.90 \cdot 1.17 \cdot 1.10 \cdot 1.11 \cdot 1.10 \cdot 1.05 \cdot 0.87 \cdot 0.90 \cdot 0.80 \cdot
                1.00
                =
                \)
                <br>
                \(
                = 0.507
                \)
            </p>
        </hgroup>
        <hgroup>
            <h4>Расчет трудоемкости (PM)</h4>
            <p>
                Теперь можно рассчитать оценочную трудоемкость проекта в человеко-месяцах по <a class="link"
                    href="#pm_formula">формуле</a>:
            </p>
            <p class="formula">
                \(
                \text{PM} = 2.94 \cdot 3.3^{0.96} \cdot 0.507 = 4.67 (чел. \cdot мес.)
                \)
            </p>
        </hgroup>
        <hgroup>
            <h4>Расчет длительности проекта (TDEV)</h4>
            <p>
                Длительность проекта (TDEV) в календарных месяцах рассчитывается по <a class="link"
                    href="#tdev_formula">формуле</a>:
            </p>
            <p class="formula" id="tdev_formula">
                \(TDEV = C \cdot (\text{PM}_{\text{NS}})^{F}\)
            </p>
            <p>Где:</p>
            <ul class="dashenum">
                <li>C — коэффициент, обычно 2.5</li>
                <li>\(\text{PM}_{\text{NS}}\) — трудоемкость без учета множителя сжатия графика SCED (в нашем случае
                    SCED = 1.00, поэтому \( \text{PM}_{NS} = \text{PM} = 4.67 \))</li>
                <li>F — показатель степени, рассчитываемый как \(F = D + 0.2 \cdot (E - B) \)</li>
                <li>D — коэффициент, обычно 0.28</li>
                <li class="last">B — базовый коэффициент для показателя E (0.91)</li>
            </ul>
            <p>
                Рассчитаем F:
            </p>
            <p class="formula">
                \( F = D + 0.2 \cdot (E - B) = 0.28 + 0.2 \cdot (0.96 - 0.91) = 0.29 \)
            </p>
            <p>
                Рассчитаем TDEV:
            </p>
            <p class="formula">
                \( TDEV = 0.25 \cdot (4.64)^{0.29} = 3.9 (мес.) \)
            </p>

            <p>

                На основе методики COCOMO II, с использованием размера проекта, определённого через функциональные точки
                (AFP = 131, SIZE = 3.3 тыс. строк кода), а также с учетом факторов, связанных с характеристиками
                продукта, платформы, персонала и проекта, были получены следующие ориентировочные значения:
            </p>
            <ul class="dashenum">
                <li>трудоёмкость разработки составила 4.67 человеко-месяца</li>
                <li class="last">продолжительность проекта оценена в 3.9 календарных месяцев</li>
            </ul>
            <p>
                Данные расчеты служат предварительной оценкой и могут быть скорректированы в процессе дальнейшей
                детализации проекта. Они дают общее представление о масштабах усилий и времени, необходимых для
                реализации рассматриваемой информационной системы.
            </p>
        </hgroup>
    </hgroup>
</hgroup>